.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(1, 1, 1, 1) 20%, rgba(39, 50, 60, 1) 67%, rgba(35, 32, 32, 0.6778361002604167) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(1, 1, 1, 1) 20%, rgba(39, 50, 60, 1) 67%, rgba(35, 32, 32, 0.6778361002604167) 100%);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(1, 1, 1, 1) 20%, rgba(39, 50, 60, 1) 67%, rgba(35, 32, 32, 0.6778361002604167) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#232020", GradientType=1);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.name{
    margin-top: 2rem;
    line-height: 2;
}

.content {
    font-size: larger;
    font-weight: bold;
    line-height: 1.6;
}

.content p {
    margin: 50px;
}

.image {
    margin-top: 20px 50px 20px 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: oblique;
}

.photo {
    background-image: url("/images/mypic.JPG");
    border-radius: 50%;
    height: 300px;
    width: 300px;
    border: black solid 2px;
    background-size: cover;
    background-position: center;
}

@media (max-width:600px){
    .container{
        width: 90%;
        border-radius: 30px;
    }
}